<!DOCTYPE html>
<html>

    <head>

        <title> Users List </title>
        <link rel="stylesheet" type="text/css" href="/stylesheet/crate.css">
        <script type= "text/javascript" src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

    </head>

    <body class="login">

        <div id="main">

            <div id="header">
                <header class="wrapper clearfix">
                    <div class="center">
                        <h1 class="title">Forms Demo</h1>
                    </div>
                </header>
            </div>

                        <div>
                            <div>
                              <form class=smart-green method="post" action="/adduser" id="mainForm" enctype="multipart/form-data">
                                 <button type="submit">Add new User</button>
                              </form>
                              <table id="listtable" class="sortable" style="height: 1px;  overflow-y: auto;  overflow-x: hidden; ">
                                <caption>Users Signed up </caption>
                                <thead>
                                <tr>
                                  <th>Name</th>
                                  <th>Email</th>
                                  <th>Phone</th>
                                  <th>Age</th>
                                  <th>Gender</th>
                                  <th>Address1</th>
                                  <th>Address2</th>
                                  <th>City</th>
                                  <th>State</th>
                                  <th>Postal Code</th>
                                  <th>Country</th>
                                  <th>Details</th>
                                  <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                              <% for(var i=0; i<users.length; i++) {%>
                                <tr>
                                  <td><%= users[i].name %></td>
                                  <td><%= users[i].email %></td>
                                  <td><%= users[i].phone %></td>
                                  <td><%= users[i].age %></td>
                                  <td><%= users[i].gender %></td>
                                  <td><%= users[i].address1 %></td>
                                  <td><%= users[i].address2 %></td>
                                  <td><%= users[i].city %></td>
                                  <td><%= users[i].state %></td>
                                  <td><%= users[i].postal %></td>
                                  <td><%= users[i].country %></td>
                                  <td><%= users[i].message %></td>
                                  <td><a href=<%= '/edit?user=' + users[i].name %>>Edit</td>
                                </tr>
                              <% } %>
                              </tbody>
                            </table>
                        </div>

        <script type="text/javascript" src="http://feather.aviary.com/imaging/v2/editor.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script>
        $(document).ready(function() {

          newTableObject = document.getElementById('listtable');
          sorttable.makeSortable(newTableObject);
        });
        </script>

    </body>

</html>
