<!DOCTYPE html>
<html>

    <head>

        <title> Sign In </title>
        <link rel="stylesheet" type="text/css" href="/stylesheet/crate.css">

    </head>

    <body class="login">

        <div id="main">

            <div id="header">
                <header class="wrapper clearfix">
                    <div class="center">
                        <h1 class="title">Sample Form using Mongo, Node , Express</h1>
                    </div>
                </header>
            </div>

            <nav class="navigation">
              <div class="center">
                  <h3>Just a sample</h1>
              </div>
            </nav>

            <div id="container3">
                <div id="container2">
                    <div id="container1">
                        <div id="col1">
                          <form class=smart-green action="/users" method="POST">
                            <input type="text" placeholder="name" name="name">
                            <input type="password" placeholder="Password" name="pass">
                            <input type="text" placeholder="Email" name="email">
                            <input type="text" placeholder="Phone" name="phone">
                            <input type="text" placeholder="Age" name="age">
                            Gender:
                            <input type="radio" name="gender" value="male" checked> Male
                            <input type="radio" name="gender" value="female"> Female
                            <input type="radio" name="gender" value="other"> Other
                            <input type="text" placeholder="Address 1" name="address1">
                            <input type="text" placeholder="Address 2" name="address2">
                            <input type="text" placeholder="City" name="city">
                            <input type="text" placeholder="State" name="state">
                            <input type="text" placeholder="Postal Code" name="postal">
                            Country:<select name="country">
                              <option value="usa">USA</option>
                              <option value="canada">Canada</option>
                              <option value="uk">UK</option>
                              <option value="aus">Australia</option>
                            </select>
                            <textarea name="message">
                            Comments
                            </textarea>

                            <input type="checkbox" name="agreement"> I am agree with terms and conditions
                            <button type="submit">Sign Up</button>
                          </form>
                        </div>
                        <div id="col2">
                            <div>
                              <table class="cratetable" >
                                <caption>Users Signed up </caption>
                                <tr>
                                  <th>Name</th>
                                  <th>Password</th>
                                  <th>Email</th>
                                  <th>Phone</th>
                                  <th>Age</th>
                                  <th>Gender</th>
                                  <th>Address1</th>
                                  <th>Address2</th>
                                  <th>City</th>
                                  <th>State</th>
                                  <th>Postal Code</th>
                                  <th>Country</th>
                                  <th>message</th>
                                </tr>
                              <% for(var i=0; i<users.length; i++) {%>
                                <tr>
                                  <td><%= users[i].name %></td>
                                  <td><%= users[i].pass %></td>
                                  <td><%= users[i].email %></td>
                                  <td><%= users[i].phone %></td>
                                  <td><%= users[i].age %></td>
                                  <td><%= users[i].gender %></td>
                                  <td><%= users[i].address1 %></td>
                                  <td><%= users[i].address2 %></td>
                                  <td><%= users[i].city %></td>
                                  <td><%= users[i].state %></td>
                                  <td><%= users[i].postal %></td>
                                  <td><%= users[i].country %></td>
                                  <td><%= users[i].message %></td>
                                </tr>
                              <% } %>
                            </table>
                            </div>
                        </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>

</html>
